body{
    background-color: #ffe9c7;
}
#head{
    text-align: center;
    font-size: 50px;
}
#branch{
    font-size: 30px;
    text-align: center;
}
#speed_img{
    width: 200px;
    background-color: orangered;
    border-radius: 16px;
}
.cat{
    border: 3px solid;
    width: fit-content;
    border-radius:20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orangered;
}
#select{
font-size: 20px;
border: solid;
border-radius: 15px;
padding: 15px;
width:164px ;
margin: 0;
text-align: center;
background-color: #ffe9c7;
}
#allcat{
    border: 4px solid;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
}