body{
    background-color: #ffe9c7;
    cursor: none;
}
#count{
    position: absolute;
    left: 50%;
    top:35%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    display: block;
}
#the_word{
    text-align: center;
    margin-top: -50px;
    font-size: 40px;
    display: none;
}
#timer{
    border:2px solid;
    width: fit-content;
    padding: 15px 25px;
    border-radius: 12px;

}
#no{
    width: 40px;
    display: none;
    position: absolute;
    transform: translate(-50% ,-50%);
}
#wroten{
    display: none;
    border: dashed;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
margin: auto;
}

.keyboard{

    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    line-height: 30px;
    border: 2px solid;
    border-radius: 20px;
    width:fit-content;
    
    padding: 20px;
}
.lineone{
    display: flex;
    gap:17px;
    justify-content: center;
}
.linetwo{
    display: flex;
    justify-content: center;
    gap:17px;
}
.linethree{
    display: flex;
   justify-content: center;
   gap:17px;
}
.keys{
    border:none ;
    border-radius: 10px;
    padding: 20px 20px;
    margin: 0px;
}