
body{
    background-color: #ffe9c7;
    cursor: none;
    margin: 0;
     overflow-x: hidden;
          overflow-y: hidden;

}
#sna{
    background-color: #a2ff6c;
padding: 1px;
margin-bottom: 10px;
border-bottom: solid;
display: flex;
align-items: center;
}
#info{
    text-align: center;
    margin: auto;
}
.all_botton{
    display: none;
    margin: 0px;
}
#ground1{
    position: absolute;
    margin: 0px;
        bottom: 1px;

}
#ground2{
    position: absolute;
    margin: 0px;
    left: 30%;
    bottom: 1px;
}
#ground3{
    position: absolute;
    margin: 0px;
    left: 60%;
        bottom: 1px;

}

#keyboard{

    display: flex;
    position: absolute;
    top: 73%;
    left:50%;

    flex-direction: column;

transform: translateX(-50%);
}
#all_c {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 155px;
    width: 100%;
}
#count{
    position: absolute;
    left: 50%;
    top:35%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    display: block;
        cursor: none;

}
#boom1{
    width: 200px;
     display: none;

}
#boom2{
    width: 200px;
     display: none;
    transform: scaleX(-1);

}
#back{
        border: 10px solid;
width: fit-content;
padding:10px;
border-radius: 15px;
background-color: #ffe9c7;
margin: 10px;
font-size: 20px;
}
#res{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffce84;
    border: solid ;
    padding: 90px;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    display: none;
}
#timere{
    border:2px solid;
    width: fit-content;
    padding: 15px 25px;
    border-radius: 12px;
       cursor: none;

}
.keys{

    padding: 5PX;
    border-radius: 10PX;
}
#keyboard{
    display: none;
}
#line_one{
    display: flex;
    gap:10px
}
#line_two{
    display: flex;
    gap:10px
}
#all_the_shoots {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 300px;
    width: 100%;

}

#no{
    width: 40px;
    display: none;
    position: absolute;
    transform: translate(-50% ,-50%);
}

.the_shoot{
        width: 70px;
    position: absolute;
    display: none;
}
.the_shoot2 {
    width: 70px;
    position: absolute;
    display: none;
}


