body{
    background-color: #ffe9c7;
}
#count{
    position: absolute;
    left: 50%;
    top:35%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    display: block;
}
#the_word{
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
}
#timer{
    border:2px solid;
    width: fit-content;
    padding: 15px 25px;
    border-radius: 12px;
}
.keyboard{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 30px;
    border: 2px solid;
    border-radius: 20px;
    width: 70%;
    height: 30%;
    padding: 20px;
}
.lineone{
    display: flex;
    gap:37px;
    justify-content: center;
}
.linetwo{
    display: flex;
    justify-content: center;
    gap:37px;
}
.linethree{
    display: flex;
   justify-content: center;
   gap:37px;
}
.keys{
    border:none ;
}